.creative_form_18,.creative_form_18 h1,.creative_form_18 h2,.creative_form_18 h3 {
		font-family: Arial, Helvetica, sans-serif}
.creative_form_18.creativecontactform_wrapper {
	border: 1px solid #dedede;
	background-color: #ffffff;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ffffff));/* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #ffffff, #ffffff); /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #ffffff, #ffffff);/* Firefox 3.6+ */
	background: -ms-linear-gradient(top, #ffffff, #ffffff);/* IE 10 */
	background: -o-linear-gradient(top, #ffffff, #ffffff);/* Opera 11.10+ */
		
	-moz-box-shadow:  0px 0px 0px 0px  #ffffff;
	-webkit-box-shadow:  0px 0px 0px 0px  #ffffff;
	box-shadow:  0px 0px 0px 0px  #ffffff;
	
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;

	color: #111111;
	font-size: 13px;

}
.creative_form_18 .creativecontactform_header {
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
}
.creative_form_18 .creativecontactform_footer {
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
}
.creative_form_18 .creativecontactform_loading_wrapper {
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
}
.creative_form_18.creativecontactform_wrapper:hover {
	-moz-box-shadow:  0px 0px 7px 0px  #bababa;
	-webkit-box-shadow:  0px 0px 7px 0px  #bababa;
	box-shadow:  0px 0px 7px 0px  #bababa;
}
.creative_form_18 .creativecontactform_header {
	padding:  15px  15px 15px 15px;
	border-bottom: 0px solid #ffffff;

	
}
.creative_form_18 .creativecontactform_body {
	padding:  5px  15px 10px 15px;

	}
.creative_form_18 .creativecontactform_footer {
	padding:  0px  15px 15px 15px;
	border-top: 0px solid #ffffff;

	}


.creative_form_18 .creativecontactform_title {
	color: #005daf;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	text-shadow: 2px 1px 2px #ffffff;
		font-family: inherit}

.creative_form_18 .creativecontactform_field_name {
	color: #000000;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	text-shadow: 2px 1px 1px #ffffff;
	margin:  0px  0px 1px 3px;
		font-family: inherit}

.creative_form_18 .answer_name label {
	color: #000000;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 2px 1px 1px #ffffff;
}
.creative_form_18 .answer_name label.without_parent_label {
	font-size: 13px;
}

.creative_form_18 .creative_uploaded_file {
	color: #000000;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 2px 1px 1px #ffffff;
}

.creative_form_18 .creativecontactform_field_required {
	color: #ff0000;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	text-shadow: 0px 0px 0px #ffffff;
}

.creative_form_18 .creativecontactform_send,
.creative_form_18 .creativecontactform_send_new,
.creative_form_18 .creative_fileupload
 {
	background-color: #005daf;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005daf', endColorstr='#005daf'); /* for IE */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005daf), to(#005daf));/* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #005daf, #005daf); /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #005daf, #005daf);/* Firefox 3.6+ */
	background: -ms-linear-gradient(top, #005daf, #005daf);/* IE 10 */
	background: -o-linear-gradient(top, #005daf, #005daf);/* Opera 11.10+ */
	
	padding: 4px 26px;
	-moz-box-shadow:  0px 0px 0px 0px  #ffffff;	
	-webkit-box-shadow:  0px 0px 0px 0px  #ffffff;	
	box-shadow:  0px 0px 0px 0px  #ffffff;	
	border-style: solid;
	border-width: 1px;
	border-color: #005daf;
	
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
	
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
	float: right;

	font-size: 14px;
	color: #ffffff;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 0px 0px #ffffff;
		font-family: inherit}

.creative_form_18 .creative_fileupload
{
padding: 10px 30px;
}

.creative_form_18 .creativecontactform_send:hover,.creative_form_18 .creativecontactform_send_new:hover, 
.creative_form_18 .creativecontactform_send:active,.creative_form_18 .creativecontactform_send_new:active, 
.creative_form_18 .creativecontactform_send:focus,.creative_form_18 .creativecontactform_send_new:focus,

.creative_form_18 .creative_fileupload:hover,.creative_form_18 .creative_fileupload:hover, 
.creative_form_18 .creative_fileupload:active,.creative_form_18 .creative_fileupload:active, 
.creative_form_18 .creative_fileupload:focus,.creative_form_18 .creative_fileupload:focus

{
	background-color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ffffff));/* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #ffffff, #ffffff); /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #ffffff, #ffffff);/* Firefox 3.6+ */
	background: -ms-linear-gradient(top, #ffffff, #ffffff);/* IE 10 */
	background: -o-linear-gradient(top, #ffffff, #ffffff);/* Opera 11.10+ */
	
	color: #6b6b6b;
	text-shadow: 0px 0px 0px #ffffff;
	-moz-box-shadow:  0px 0px 0px 0px  #999999;
	-webkit-box-shadow:  0px 0px 0px 0px  #999999;
	box-shadow:  0px 0px 0px 0px  #999999;
	border-style: solid;
	border-width: 1px;
	border-color: #cfcfcf;
}
		        	
.creative_form_18 .creativecontactform_submit_wrapper {
	width: 	95%;
}

.creative_form_18 .creativecontactform_input_element input,.creative_form_18 .creativecontactform_input_element textarea,.creative_form_18 .creativecontactform_input_element{
	font-size: 14px;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0px 0px 0px #ffffff;
	text-align: left;
		font-family: inherit}

.creative_form_18 .creativecontactform_input_element:hover,.creative_form_18 .creativecontactform_input_element:focus,.creative_form_18 .creativecontactform_input_element.focused {
	background-color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ffffff));/* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #ffffff, #ffffff); /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #ffffff, #ffffff);/* Firefox 3.6+ */
	background: -ms-linear-gradient(top, #ffffff, #ffffff);/* IE 10 */
	background: -o-linear-gradient(top, #ffffff, #ffffff);/* Opera 11.10+ */
	
	-moz-box-shadow:  0px 0px 10px 2px  #d4d4d4;
	-webkit-box-shadow:  0px 0px 10px 2px  #d4d4d4;
	box-shadow:  0px 0px 10px 2px  #d4d4d4;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}
.creative_form_18 .creativecontactform_input_element,.creative_form_18 .creativecontactform_input_element.closed:hover {
	background-color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff'); /* for IE */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#ffffff));/* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #ffffff, #ffffff); /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #ffffff, #ffffff);/* Firefox 3.6+ */
	background: -ms-linear-gradient(top, #ffffff, #ffffff);/* IE 10 */
	background: -o-linear-gradient(top, #ffffff, #ffffff);/* Opera 11.10+ */
	
	-moz-box-shadow:  0px 0px 10px 0px  #f5f5f5;	
	-webkit-box-shadow:  0px 0px 10px 0px  #f5f5f5;		
	box-shadow:  0px 0px 10px 0px  #f5f5f5;		
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;

}
.creative_form_18 .creativecontactform_input_element input:hover,.creative_form_18 .creativecontactform_input_element input:focus,.creative_form_18 .creativecontactform_input_element textarea:hover,.creative_form_18 .creativecontactform_input_element textarea:focus,.creative_form_18 .creativecontactform_input_element.focused input,.creative_form_18 .creativecontactform_input_element.focused textarea {
	color: #1c1c1c;
	text-shadow: 0px 0px 0px #ffffff;
}


.creative_form_18 .creativecontactform_error .creativecontactform_field_name,.creative_form_18 .creativecontactform_error .creativecontactform_field_name:hover {
	color: #c70808;
	text-shadow: 2px 1px 1px #ffffff;
}
.creative_form_18 .creativecontactform_error .creativecontactform_input_element,.creative_form_18 .creativecontactform_error .creativecontactform_input_element:hover {
	background-color: #ffdbdd;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdd', endColorstr='#ffdbdd'); /* for IE */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffdbdd), to(#ffdbdd));/* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #ffdbdd, #ffdbdd); /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #ffdbdd, #ffdbdd);/* Firefox 3.6+ */
	background: -ms-linear-gradient(top, #ffdbdd, #ffdbdd);/* IE 10 */
	background: -o-linear-gradient(top, #ffdbdd, #ffdbdd);/* Opera 11.10+ */
	
	-moz-box-shadow: inset 0px 0px 19px 0px  #ebaaaa;	
	-webkit-box-shadow: inset 0px 0px 19px 0px  #ebaaaa;		
	box-shadow: inset 0px 0px 19px 0px  #ebaaaa;		
	border-color: #ff9999;
	
}
.creative_form_18 .creativecontactform_error input,.creative_form_18 .creativecontactform_error .creative_input_dummy_wrapper,.creative_form_18 .creativecontactform_error input:hover,.creative_form_18 .creativecontactform_error .focused input:hover,.creative_form_18 .creativecontactform_error .focused input,.creative_form_18 .creativecontactform_error .focused textarea,.creative_form_18 .creativecontactform_error textarea,.creative_form_18 .creativecontactform_error textarea:hover {
	
	color: #363636;
	text-shadow: 0px 0px 0px #ffffff;
}

.creative_form_18 .creativecontactform_pre_text {
	margin-top: 3px;
	margin-bottom: 0;
			margin-right: 0;
	margin-left: 0;
	padding: 3px 0 0 0;
	width: 82%;
	
	font-size: 13px;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0px 0px 0px #ffffff;
	text-align: left;
	
	border-top: 1px dotted #a8a8a8;
		font-family: inherit}


.creative_form_18 .creativecontactform_field_box_textarea_inner {
		margin: 0;
}
.creative_form_18 .creativecontactform_field_box_inner {
		margin: 0;
}

.creative_form_18.creativecontactform_wrapper .tooltip_inner {
		font-family: inherit}
.creative_form_18.creativecontactform_wrapper .creativecontactform_field_required {
		font-family: inherit}

/*************************************************RTL rules*******************************************************************************************/

.creative_form_18.creativecontactform_wrapper .answer_name {
	float: left!important;
	text-align: left !important;
}
.creative_form_18.creativecontactform_wrapper .answer_name label {
	margin: 6px 0px 0 33px;
}
.creative_form_18 .answer_input {
	float: left !important;
	margin-left: -100%;
}
.creative_form_18 .creativecontactform_field_required {
	right: -12px !important;
}
.creative_form_18 .the-tooltip.right > .tooltip_inner {
right: 0 !important;
padding: 3px 16px 4px 8px;
text-align: left;
}
.creative_form_18 .the-tooltip.right > .tooltip_inner:after,.creative_form_18 .the-tooltip.right > .tooltip_inner:before {
	right: 0;
}
.creative_form_18 .creative_input_dummy_wrapper img.ui-datepicker-trigger {
	right: -29px;
}
/***fileupload**/
.creative_form_18 .creative_progress .bar {
float: left;
}
.creative_form_18 .creative_fileupload_wrapper {
	text-align: left;
}
.creative_uploaded_file {
	float: left;	
}
.creative_form_18 .creative_remove_uploaded {
	float: left;	
}
.creative_form_18 .creative_uploaded_icon {
	float: left;
}
/***captcha**/
.creative_form_18 img.creative_captcha{
	float: left;
	margin: 3px 5pxpx 5px 0px !important;
}
.creative_form_18 .reload_creative_captcha {
	float: left;
}
.creative_form_18 .creative_timing_captcha  {
	text-align: left;
}
/****************************Multiple Columns***************************/
.creative_form_18 .creative_field_box_wrapper_1 {
	width:50%;
}
.creative_form_18 .creative_field_box_wrapper_2 {
	width:50%;
}
.creative_form_18 .creative_field_box_wrapper_0 .creativecontactform_field_box_inner {
	width:60%;
}

.creative_form_18 .creative_field_box_wrapper_1 .creativecontactform_field_box_inner {
	width:90%;
}
.creative_form_18 .creative_field_box_wrapper_2 .creativecontactform_field_box_inner {
	width:90%;
}
.creative_form_18 .creative_field_box_wrapper_0 .creativecontactform_field_box_textarea_inner {
	width:95%;
}
.creative_form_18 .creative_field_box_wrapper_1 .creativecontactform_field_box_textarea_inner {
	width:90%;
}
.creative_form_18 .creative_field_box_wrapper_2 .creativecontactform_field_box_textarea_inner {
	width:90%;
}

.creative_form_18 .creative_field_box_wrapper_0 .creative_textarea_wrapper {
	height:100px;
}
.creative_form_18 .creative_field_box_wrapper_1 .creative_textarea_wrapper,
.creative_form_18 .creative_field_box_wrapper_2 .creative_textarea_wrapper {
	height:130px;
}
.creative_form_18 .creativecontactform_heading {
	overflow: hidden;

	margin: 15px 0 15px 0;
	
	border-top: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	border-left: 1px solid #d4d4d4;

	background-color: #f4f6f7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f6f7', endColorstr='#f4f6f7'); /* for IE */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f6f7), to(#f4f6f7));/* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #f4f6f7, #f4f6f7); /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #f4f6f7, #f4f6f7);/* Firefox 3.6+ */
	background: -ms-linear-gradient(top, #f4f6f7, #f4f6f7);/* IE 10 */
	background: -o-linear-gradient(top, #f4f6f7, #f4f6f7);/* Opera 11.10+ */

		font-family: inherit
}
.creative_form_18 .creativecontactform_heading_inner {
	margin: 8px 15px 9px 12px;
	line-height: 1.2;
	font-size: 15px;
	color: #525252 !important;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0px 0px 0px #e0e0e0 !important;
	
}

/****************************Sections, Links, Popups***************************/
.creative_form_18 .ccf_content_element_label {
	font-size: 14px !important;
	color: #3d3d3d !important;
	font-style: normal !important;
	font-weight: normal !important;
	text-shadow: 0px 0px 0px #ffffff !important;
	border-bottom: 0px dotted #fafafa !important;

	text-decoration: none !important;
}
.creative_form_18 a,
.creative_form_18 .ccf_popup_link
 {
	color: #0055cc !important;
	font-style: normal !important;
	font-weight: bold !important;
	text-shadow: 0px 0px 0px #ffffff !important;
	border-bottom: 1px dotted #ffffff !important;

	text-decoration: none !important;
}
.creative_form_18 a:hover,
.creative_form_18 .ccf_popup_link:hover
 {
	color: #b00023 !important;
	text-shadow: 0px 0px 0px #ffffff !important;
	border-bottom: 1px dotted #b50000 !important;

	font-style: normal !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

.creative_form_18 .ccf_content_styling {
	color: #008f00 !important;
	font-style: italic !important;
	font-weight: normal !important;
	text-shadow: 0px 0px 0px #ffffff !important;
	text-decoration: none !important;
}

/*Custom Temaple Styles*/
/*Creative Scrollbar***************************************/
.creative_form_18 .creative_content_scrollbar {
background-color: #ddd;
color: #333;
border-radius: 12px;
}
.creative_form_18 .creative_content_scrollbar hr {
border-bottom: 1px solid rgba(255,255,255,0.6);
border-top: 1px solid rgba(0,0,0,0.2);
}
.creative_form_18 p.scrollbar_light {
padding: 5px 10px;
border-radius: 6px;
color: #666;
background: #fff;
background: rgba(255,255,255,0.8);
}