/* ----------- Section navbar ------------ */
.televendas{
	position: fixed;
	z-index: 1050;
	top: -10px;
	background-color: #005dab;
	width: 100%;
}

.televendas h4{
	color: #fff;
	padding: 7px 20px;
	font-size: 16px;
}

.numero-agenda{
	color: #fff;
}

.navbar-default{
	background: #fdfeff !important;
	box-shadow:  1px 2px 4px -1px #ccc;
}

.navbar.navbar-default.navbar-fixed-top{
	margin-top: 39px;
}

.caption{
	width: 40%;
	padding: 5px 10px;
	
}

strong{
	text-transform: uppercase;
	color: #00008B;
}

.one,.two,.tree{
	margin-bottom: 45px;
}

.one{
	border: 4px solid #708090;
	border-radius: 3px;
	width: 549px;
	padding: 5px;
	color: #005dab;
	font-size: 40px;
}


.two{
	color: #505050;
	font-weight: 600;
	font-size: 37px;
	width: 560px;

}
.tree{
	background-color: #505050;
	padding: 5px;
	font-size: 24px;
	width: 570px;
	color: #fff;
	border-radius: 5px;
}

.logo img{
	width: 250px;
}
@media (max-width: 991px){
	.caption{
		width: 50%;
	}
	.one{
		width: 470px;
		font-size: 38px;
	}
	.two{
		font-size: 35px;
	}
	.tree{
		margin-top: 70px;
	}


	.logo img{
		width: 200px;
	}
	.menu{
		margin-right: -30px;
	}
}

@media (max-width: 767px){
	.televendas h4{
		font-size: 14px;
	}
	.caption{
		width: 60%;
	}
	.one{
		width: 450px;
		font-size: 36px;
		background-color: rgba(255,255,255,.6);
	}
	.two{
		font-size: 35px;
		width: 500px;

	}
	.tree{
		font-size: 18px;
		width: 425px;
		margin-top: 80px;
	}
}


@media (max-width: 474px){
	.televendas{
		padding-top: 12px;
	}
	.televendas h4{
		font-size: 16px;
		padding: 0px 20px;
		text-align: center;
	}
	.titulo-visita{
		display: none;
	}
	.logo img{
		width: 180px;
	}

	.caption{
		background: ;
		width: 40%;
	}
	.one,.two,.tree{
		margin-bottom: 30px;
	}

	.one{
		width: 200px;
		font-size: 25px;
	}
	.two{
		font-size: 20px;
		width: 180px;
		background-color: rgba(239, 237, 240,.8);
		border-radius: 3px; 
	}
	.tree{
		font-size: 14px;
		width: 200px;
		margin-top: 40px;
	}
}


/* ----------- Menu toogle ------------ */
@media (max-width: 767px){
	.toogle{
		position: relative;
	    display: inline-block;
	    float: right;
	    width: 30px;
	    height: 30px;
	    margin-top: -50px;
	    overflow: hidden;
	  
	}



	.toogle span{
		width: 100%;
		height: 2px;
		content: "";
		display: block;
		position: absolute;
		background: #000;
	}

	.toogle span:nth-child(1){
		top: 2px;
	}
	.toogle span:nth-child(2){
		top: 11px;
	}
	.toogle span:nth-child(3){
		top: 20px;
	}

	.toogle:hover span:nth-child(1) {
	  top: 4px; }

	.toogle:hover span:nth-child(3) {
		top: 18px; }

	.toogle.ativo span:nth-child(1) {
	  top: 12px;
	  -webkit-transform: rotate(48deg);
	  -ms-transform: rotate(48deg);
	  -o-transform: rotate(48deg);
	  transform: rotate(48deg);

	  -webkit-transition: all  0.4s;
	  -o-transition: all 0.4s;
	  transition: all 0.4s; 
	}

	.toogle.ativo span:nth-child(3) {
	  top: 13px;
	  -webkit-transform: rotate(132deg);
	  -ms-transform: rotate(132deg);
	  -o-transform: rotate(132deg);
	  transform: rotate(132deg);

	  -webkit-transition: all 0.4s;
	  -o-transition: all 0.4s;
	  transition: all 0.4s; 
	}

	  .toogle.ativo span:nth-child(2) {
	    display: none;
	    -webkit-transition: 0.4s;
	    -o-transition: 0.4s;
	  	transition: 0.4s; 
	  }
}
/* ----------- icone whatsapp ------------ */

.icone{
	top: 450px;
	position: fixed;
	width: 70px;
	z-index: 1030;

	/*border-radius: 80px 100px 80px 30px;*/
}

.cont{
	left: 15px;
	top: 450px;
	position: fixed;
	z-index: 1030;
}

.cont a{
	text-decoration: none;
}

.fone{
	position: relative;
	margin-left: 57px;
	top: 24px;
	background-color: #50b154;
	padding: 5px;
	border-radius: 5px;
	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	border-bottom: 4px solid #fff;


	font-weight: 600;
	color: #fff;

	box-shadow: 2px 2px 3px #d7d7d7;
	z-index: 1040;
}

@media(max-width: 767px){
	.fone{
		display: none;
	}
	.icone{
		margin-left: -10px;
		bottom: -2px;
	}
}
/* ----------- Modal solicitacao ------------ */
.header-modal{
	background-color: rgba(30,144,255);
	padding: 10px;
	color: #fff;
	position: fixed;
	right: -78px;
	z-index: 1030;

	border-radius: 5px 5px 0 0;
	font-size: 16px;
	font-weight: 600;
	

	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.header-modal:hover{
	background-color: rgba(0,255,255);
	color: #000;

}


@media (max-width: 767px){
	.header-modal{
		font-size: 14px;
		background-color:rgba(30,144,255,.5);
		padding: 5px 15px;
		color: #fff;
		text-shadow: 2px 3px 2px #ccc;
		top: 180px;

	}
}

/* ----------- Section Serviços ------------ */
#servicos{
	background: #F0FFF0;
	padding-bottom: 50px;
	padding-top: 130px;
}
.title-cards-servicos{
	font-weight: 500;
	margin-bottom: 50px;
}

.header-cards-servicos{
	background-color: #005dab !important;
}
.image-cards-servicos{
	width: 360px;
	height: 250px;
}

.bottom-cards-servicos{
	padding: 30px 5px 10px 5px;
	text-align:center;
	box-shadow: 7px 8px 9px -9px #ccc;
	border: 1px solid #87CEEB;
	background-color: #fff;
}
.texto-cards-servicos{
	font-size: 15px;
	color: #000;		
}


@media (max-width: 767px){
	.cards-servicos{
		margin-left: 20%;
		margin-bottom: 30px;
	}
	.image-cards-servicos{
		height: auto;
	}

	.texto-cards-servicos{
		font-size: 13px;
	}
}

@media (max-width: 474px){
	.title-cards-servicos{
		margin-top: 10px;
	}
	.col-xs-8{
		min-width: 90%;
		margin-left: -15px;
	}
}

/* ----------- Section Equipamentos ------------ */
#equipamentos{
	padding-top: 40px;
}
.espaco-chamadas{
	margin-bottom: 100px;
}
.imagens-equipamentos{
	margin-top: 50px;
}
.desc-produtos{
	display: none;
}

@media(max-width: 767px){
	.desc-produtos{
		display: block;
		box-shadow: none;
		margin-top: 30px;
	}
	.item1, .item2, .item3, .item4, .item5, .item6{
		display: none;
	}

	.item1.active, .item2.active, .item3.active, .item4.active, .item5.active, .item6.active{
		display: block;

	}
	.item1 p, .item2 p, .item3 p, .item4 p, .item5 p, .item6 p{
		color: #736969;
		font-size: 14px;
		padding: 7px;
	}

}


/*------------- carousel -------------*/
.box-carousel.col-lg-7{
	margin-left: 70px;
}

.ibox-content {
    background-color: #fff;
    color: inherit;
    padding: 10px;
    overflow: hidden;
    margin-top: 50px;
    box-shadow:  3px 3px 10px 3px #ccc;
    height: 320px;
}

.ibox-content {
  clear: both;
}

.carousel-control{
	color: gray;
	font-size: 30px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next{
	font-size: 60px;
}

.content-img-servicos{
	padding: 5px;
	background: rgba(0, 93, 171,.05);
}

.content-img-servicos small{
	padding: 10px 0;
	font-weight: 500;
}
.content-mini{
	display: inline-flex;
}
.mini-produto{
	list-style: none;
	margin: 15px 5px;
	display: block;
	overflow: hidden; 
}

.mini-produto img{
	max-width: 100%;
	background-color: rgba(0, 93, 171,.05);
	padding: 5px;
	cursor: pointer;
	border-radius: 4px;

	-webkit-transition: 1s all ;
	-o-transition: 1s all ;
	transition: 1s all ;
}

.mini-produto:hover img{

	background-color: rgba(0, 93, 171);
	-webkit-transition: 1s background ease-in-out;
	-o-transition: 1s background ease-in-out;
	transition: 1s background ease-in-out;

}
@media (max-width: 1280px){
	
}
@media (max-width: 767px){
	.carousel-caption{
		display: none;
	}
	.carousel-inner{
		margin-left: 66px;
		width: 80%;
	}

}

@media(max-width: 474px){
	.carousel-inner{
		margin-left: 0px;
		width: 100%;
	}
	.mini-produto img{
		max-width: 40px;
		flex-wrap: all;
	}
	.ibox-content{
		height: 255px;
	}
}

/* ----------- Section Quem Somos ------------*/
#quem-somos{
	background: #F0FFF0;
	padding-top: 40px;
}
.central{
	margin-top: 50px;
}
 .icons{
 	background: #1E90FF;
 	padding: 10px;
	height: 100px;
	width: 100px;
	display: block;
	border-radius: 100px;
	margin: auto;
 }

 .icons:hover{
	background: #00BFFF;
 }

 .icons a{
 	font-size: 60px;
 	color: #fff;
 }

 .side{
 	padding-top: 10px;
 }

.side a{
 	width: 80px;
 	height: 80px;
 	font-size: 50px; 	
 }

 small{
 	color: #005dab !important;
 }


 /*Carousel comentarios*/
 .comentarios{
 	background: transparent;
 	box-shadow: none;
 	margin: 0px;
 	padding-top: 30px;
 	font-size: 16px;
 	color: #fff;
 	letter-spacing: 2px;
 }

 .ibox-content.comentarios{
 	height: 190px;
 }

 .slick-prev{
 	left: -100px;
 }
 .slick-next{
 	right: -100px;
 }

 .slick-dots li.slick-active button::before{
 	color: #00FFFF;
 }

 @media (max-width: 767px){
	.slick-prev{
		left: -10px;
	}
	.slick-next{
		right: -10px;
	}
}



 /* ----------- Section Contato ------------*/

.destaque{
	color: #00BFFF;
	font-weight: 800;
}
.desc{
	font-size: 14px;
	color: #676e78;
}
.formulario{
	border-radius: 6px;
	box-shadow:  0px 0px 0px 0px #ccc;
	-webkit-transition: 1s all;
	-o-transition: 1s all;
	transition: 1s all;
}
.formulario:hover{
	box-shadow:  3px 3px 23px 3px #ccc;
	-webkit-transition: 1s box-shadow ease-in-out;
	-o-transition: 1s box-shadow ease-in-out;
	transition: 1s box-shadow ease-in-out;
}

.mapas{
	border: 1px solid blue;
	padding: 5px 5px 0 5px;
	background: #000;
}

.redes{
	margin-top: 30px;
}

.bt{
	margin-bottom: 10px;
	box-shadow:  1px 1px 2px 2px gray;
}


